<%= form_with(model: @bookmark, remote: true) do |form| %>  
    <% if bookmark.errors.any? %>    
        <div id="error_explanation">      
            <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>
            <ul>      
            <% bookmark.errors.full_messages.each do |message| %>        
                <li><%= message %></li>      
            <% end %>      
            </ul>    
        </div>  
    <% end %>

    <div class="field py-1">    
        <%= form.label :name %>    
        <%= form.text_field :name %>  
    </div>

    <div class="field py-1">    
        <%= form.label :url %>    
        <%= form.text_field :url %>  
    </div>

    <div class="field py-1">
        <%= form.label :category_id %>
        <%= form.collection_select :category_id, @categories, :id, :name%>
    </div>

    <div class="field py-1">
        <%= form.label :type_id %>
        <%= form.collection_select :type_id, @types, :id, :name%>
    </div>

    <div class="actions py-1">    
    <%= form.submit class: 'btn btn-success', data: {confirm: '¿Quieres guardar esta URL?'} %>  
    </div>

<% end %>