<h1>Categories</h1>
<%= render 'form', category: @category %>
<br>
<table class="table table-striped table-bordered table-hover">
<thead>
    <tr>
        <th>Name</th>
        <th>Visibility</th>
        <th>Main category</th>
        <th>Subcategory</th>
        <th colspan="3"></th>
    </tr>
</thead>

<tbody id="categories">
    <% @categories.each do |category| %>
        <tr>
        <td><%= category.name %></td>
        <td><%= category.visibility %></td>
        <td> </td>
        <td><%= category.findrelative(@categories) %></td>
        <td><%= link_to 'Show', category, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', category, method: :delete, class: 'btn btn-danger', data: {confirm: '¿Quieres eliminar la categoría'} %></td>
        </tr>
    <% end %>
</tbody>
